@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        @foreach (var item in ViewBag.list)
        {
            <blockquote>@item.Quote</blockquote>
            @item.Author
        }
    </div>
</div>